.navbar {
  height: 80px;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  width: 90%;
}
.d-flex {
  /* position: absolute;
  right: 60px; */
  display: flex;
  flex-direction: row;
  margin-right: 0;
}
#register {
  margin-right: 10px;
  margin-left: 10px;
}

.navbar-brand {
  color: #fff;
  font-family: monospace;
  font-size: 27px;
  overflow: hidden;
  border-right: 0.15em solid rgb(237, 230, 230);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.1em;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
.d-flex .btn3 {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5%;
  background: #0d6efd;
  color: white;
  font-weight: 600;
  margin: 10px 0;
  text-transform: uppercase;
  cursor: pointer;
}
.d-flex .btn3:hover {
  color: rgb(226, 253, 206);
  opacity: 0.5;
}
.d-flex img {
  height: 40px;
  width: auto;
}
